<footer>
    <h4>FilterFact</h4>
    <div class="social">
        <a href="https://github.com/AbioticSpoon/Naive-Bayes-fake-news-classifier-using-Node.js"><img class="social-img" src="images/github.svg" alt=""></a>
        <a href="#"><img class="social-img" src="images/facebook.svg" alt=""></a>
        <a href="#"><img class="social-img" src="images/linkedin.svg" alt=""></a>
    </div>
    <p class="text-muted">2020, All rigths reserverd</p>
</footer>