<div class="container-fluid">
    <nav>
        <img src="images/logo2.png" alt="">
        <ul class="d-flex justify-content-around navv-ul">
            <li><a class="nav-btn" href="/">Home</a></li>
            <li><a class="nav-btn" href="/about">About</a></li>
            <li><a class="nav-btn" href="/contact">Contact</a></li>
        </ul>
    </nav>
    <div class="nav-bars">
        <i class="fas fa-bars bar-icon"></i>
    </div>
    <div class="open">
        <ul>
            <h3>Filter Facts</h3>
            <li><a href="/"><i class="fas fa-home"></i> Home</a></li>
            <li><a href="/about"><i class="fas fa-users"></i> About</a></li>
            <li><a href="/contact"><i class="far fa-id-card"></i> Contact</a></li>
            <p class="go-back"><i class="fas fa-arrow-circle-left"></i> Go Back</p>
        </ul>
    </div>
</div>