<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/ok.css">
    <link rel="shortcut icon" type="image/jpg" href="images/fav/apple-touch-icon.png" />
    <title>Results</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
</head>
<body>
    <nav class="d-flex justify-content-between">
        <h4>Fake</h4>
        <ul class="d-flex justify-content-around">
            <li><a href="/">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </nav>
    <section class="container">
        
        <h1 class="display-4 result-heading">Here are your results</h1>
        <h1 class="text-muted input-heading">Your given input news:</h1>
        <p>"<%= content.text %>"</p>
        <h1 class="mt-5 text-danger text-uppercase">Your News seems to be <%= content.out %> </h1>
        <h4 class="another">Check another News</h4>
        <form action="/forward" method="POST">
            <div class="form-group">
                <input class="form-control" type="text" name="text" id="" placeholder="Enter your news here" required
                    autocomplete="off">
                <button type="submit" class="btn btn-primary mt-2">Submit</button>
            </div>
        </form>
    </section> 

    <script src="https://cdn.jsdelivr.net/npm/darkmode-js@1.5.5/lib/darkmode-js.min.js"></script>
    <script>
        new Darkmode().showWidget();
    </script>
    <script src="js/main.js"></script>
</body>
</html>