/* body {
	background: blue;
} */

nav {
	padding-top: 1.5em;
	width: 80%;
	margin: 0 auto;
}
nav ul {
	width: 20em;
	justify-content: space-between;
	align-items: center;
}
nav ul li {
	list-style: none;
}
nav ul a {
	text-decoration: none;
}
.another {
	margin-top: 2em;
	font-weight: 200;
}

.result-heading {
	margin-top: 1em;
	margin-bottom: 1em;
}
.input-heading {
	font-weight: 200;
	font-size: 2rem;
	margin-bottom: 0.5em;
}
form {
	width: 50%;
	margin-top: 1em;
}
/* section p {
	width: 65%;
} */

@media only screen and (max-width: 768px) {
	nav a {
		display: none;
	}
	.container {
		text-align: center;
	}
	form {
		margin-top: 1em;
		width: 100%;
	}
}
